:root{
    --cor-vermelho: #FF8788;
    --cor-laranja: #FFB39B;
    --cor-amarelo: #FED19A;
    --cor-do-texto: #594a42;
    --cor-azul: #01cdce;
    --cor-azul-escuro: #15b9ba;
    --cor-verde: #01c3a9;
    --cor-de-fundo: #FEFBF2;
    --colorAccent:#000;
}

body {  
  margin: 0 auto;
  width: 80%;
  padding: 0;
  font-family: sweet-sans-pro, sans-serif; 
  background:var(--cor-de-fundo);
}


/* quiz slide */

#quizBox {
  width:100%;
  min-height:100vh;
  overflow-x:hidden;
  overflow-y:auto;
  position:relative;
  margin:0 auto;
}

.quiz-slide {
  width:100%;
  min-height:100%;
/*   outline:1px solid red; */
  position:absolute;
  left:-125%;
  top:0;
  transition:1s;
  background-position:100% 50%;
  background-repeat:no-repeat;
  background-color:var(--cor-de-fundo);
/*   background-blend-mode:multiply; */
}

.slide-on {
  animation:slideOn .75s linear forwards;
}

@keyframes slideOn {
  0% { left:100%; }
  100% { left:0; }
}

.slide-off {
  animation:slideOff .75s linear forwards;
}

@keyframes slideOff {
  0% { left:0; }
  100% { left:-100%; }
}

.quiz-content {
  width:100%;
  margin:0 auto;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:0 0 0 20px;
}

h1 {
  font-size:36px;
   color: var(--cor-do-texto);
}
h3 {
  font-size:30px;
  color: var(--cor-do-texto);
}

ul {
  padding:0;
}
li {
  list-style: none;
  font-size: 18px;
  margin: 0;
  text-align: center;
  max-width: 400px;
  background: white;
  color: var(--cor-do-texto);
  padding: 15px 20px;
  margin-bottom: 5px;
  cursor: pointer;
  user-select:none;
  position:relative;
}

li:hover {
  font-weight:900;
}
li:nth-child(6):hover {
  font-weight:400;
}

.a-clicked {
  background-color:var(--cor-azul);
  color:white;
  outline:1px solid white;
  transform:scale(1.1);
}

#q-count {
  position:absolute;
  left:0;
  top:20px;
  color:var(--cor-do-texto);
  pointer-events:none;
}

li .nxtbutton, li .last-nxtbutton {
  position:absolute;
  right:-40px;
  top:15px;
  background: var(--cor-azul);
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  border-radius:20px;
  display:none;
  user-select:none;
}



/* botão */

a {
  display:block;
  width:100%;
  max-width:150px;
  padding: 25px 40px;
  background-color: var(--cor-azul);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 40px;
  margin-top:35px;
  text-align: center;
  cursor:pointer;
}



/* página inicial*/

#quiz-intro {
  background-image:url('img/Imagens-17.png');
}



/* resultado */

#quiz-result .quiz-content {
  width:100%;
  margin:0 auto;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:var(--cor-de-fundo);
  color:var(--cor-do-texto);
  border-radius:15px;
  padding:0 20px;
}

#quiz-result .quiz-content h1 {
  text-shadow:none;
}

#quiz-result .quiz-content p{
  max-width:400px;
}

#quiz-result .quiz-content img{
  border-radius: 10px;
  position: absolute;
  right: 22%;
  bottom: 0%;
  transform: translate(30%, 10%);
}

#quiz-result .quiz-content a {
  background:var(--cor-azul);
  color:white;
  margin: 15px 10px 7px 0px;
  display:inline-block;
  text-align:center;
  font-size: 15px;
  padding: 15px;
  text-decoration: none;
}

#retake {
  background:var(--cor-amarelo) !important;
  transform-origin:bottom left;
}


/* footer */

footer a{
font-size: 20px;
text-align: center;
background-color: transparent;
color: var(--cor-do-texto);
position: absolute;
left: 80%;
text-decoration: none;
font-weight: normal;
top: 0;
right: 0;
margin: auto;
}

footer a:hover{
 font-weight: bold;
}







/* responsivo */

@media screen and (max-width:1200px) {
    
.quiz-content {
 width: 80%;
 margin: 0 auto;
 position: absolute;
 top: 55%;
 left: 50%;
 transform: translate(-50%,-50%);
 padding: 0 0 0 20px;
 text-align: center;
  }

li{
    max-width: 100%; 
    font-size: 25px;
 }
   
 a {
     padding: 25px 50px;
     position: relative;
    margin: auto;
    }    
    
.quiz-slide{
 background-position: 50% 10%;
    }


    
  /*RESULTADO*/    
  #quiz-result .quiz-content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    background-color: var(--cor-de-fundo);
    color: var(--cor-do-texto);
    border-radius: 0;
    padding: 20px;
  }
    
  #quiz-result .quiz-content H1 {
    text-align: center; 
  } 
  #quiz-result .quiz-content p {
    max-width:90%;
    text-align: center; 
  }
    
  #quiz-result .quiz-content img{
    position:relative;
   margin: auto
  }  
    
    
    
    /*footer*/
    footer a{
    font-size: 20px;
    font-weight: bold;
    right: 0;
    top: 0;
    margin: 0;
    height: 20px;
    }
    
  }